<ion-header translucent>  
    <ion-toolbar class="header">
      <ion-title class="title">Umrah</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div style="margin-top: 50%;text-align: -webkit-center;">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title style="color:white;">Umrah in Ramadan</ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top:10%">
          SAR 750
        </ion-card-content>
      </ion-card>
      <ion-card class="card">
          <ion-card-header>
            <ion-card-title style="color:white;">Umrah in non-Ramadan</ion-card-title>
          </ion-card-header>
          <ion-card-content style="margin-top:10%">
            SAR 500
          </ion-card-content>
        </ion-card>
    </div>
  </ion-content>
  