<ion-header translucent>  
  
  <ion-toolbar class="header">
    <ion-title class="title">Umrah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="background">
    <div class="logo" text-center>
        <img src="../../assets/img/logo.png">
    </div>
</ion-content>
<ion-footer>
  <ion-row class="footer">
    <ion-col no-padding>
        <ion-button class="footer-button" color="primary" expand="full" href="/login" routerDirection="forward" class="button-footer">LOGIN</ion-button>
    </ion-col>
    <ion-col no-padding>
        <ion-button class="footer-button" color="warning" expand="full" href="/signip" routerDirection="forward" class="button-footer">SIGNUP</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>