<ion-header translucent>  
  <ion-toolbar class="header">
    <ion-title class="title">Umrah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 50%;text-align: -webkit-center;">
    <ion-card class="card">
      <ion-card-content style="margin-top:10%">
        About Us
      </ion-card-content>
    </ion-card>
    <ion-card class="card" href="/response">
      <ion-card-content style="margin-top:10%">
        Request For Umrah
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
